body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Light Mode Styles */
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Navbar Styles */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(22, 22, 23, .81);
    padding: 0.5% 5%;
    display: flex;
    align-items: center;
  }
  
  /* Light mode styles for navbar */
  body.light-mode .navbar {
    background-color: rgb(83, 39, 126); /* Light mode color (purple) */
  }
  
  .navbar-logo {
    margin-right: 1.25%;
  }
  
  .navbar-logo img {
    vertical-align: middle;
    transition: transform 0.2s;
  }
  
  .navbar-logo img:hover {
    transform: scale(1.2);
  }
  
  /* Navbar link container */
  .navbar-links {
    display: flex;
    flex-grow: 1;
  }
  
  .navbar a {
    color: white;
    text-align: center;
    padding: 1% 2.5%;
    text-decoration: none;
    transition: transform 0.2s;
  }
  
  .navbar a:hover {
    color: white;
    transform: scale(1.2);
  }
  
  .navbar a.active {
    text-decoration: underline;
  }
  
  /* Content Styling */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3em;
  }
  
  .content h1 {
    font-size: 190%;
    margin-bottom: 0;
  }
  
  /* Light mode content styles */
  body.light-mode .content h1 {
    color: black;
  }
  
  /* Theme Toggle Button */
  .theme-toggle {
    background: none;
    border: none;
    font-size: 1.5em; /* Adjust size of emoji */
    cursor: pointer;
    padding: 0;
  }
  
  .theme-toggle:hover {
    background: none; /* Remove background color on hover */
  }
  
  body.light-mode .theme-toggle:hover {
    background: none; /* Remove background color on hover in light mode */
  }
  
  /* Media query for mobile view */
  @media screen and (max-width: 100%) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar a {
      width: 100%;
    }
  }
  