body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.light-mode {
  background-color: white;
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: rgb(22, 22, 23);
  padding: 8px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

body.light-mode .navbar {
  background-color: rgb(83, 39, 126); 
}

.navbar-logo {
  margin-right: 1.25%;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  vertical-align: middle;
  transition: transform 0.2s;
}

.navbar-logo img:hover {
  transform: scale(1.2);
}

.navbar-links {
  display: flex;
  flex-grow: 1;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 1% 2.5%;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar a:hover {
  color: white;
  transform: scale(1.2);
}

.navbar a.active {
  text-decoration: underline;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
}

.theme-toggle:hover {
  background: none;
}

body.light-mode .theme-toggle:hover {
  background: none;
}

#themeIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

#themeIcon:hover {
  transform: scale(1.2);
}


.login-icon {
  margin-left: 10px; 
}

.login-icon img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.login-icon img:hover {
  transform: scale(1.2); 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 3em;
}

.content h1 {
  font-size: 190%;
  margin-bottom: 0;
}

body.light-mode .content h1 {
  color: black;
}

@media screen and (max-width: 100%) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar a {
      width: 100%;
  }
}



@media screen and (max-width: 480px) {
  .navbar a 
  {
    font-size: 1.1em;
  }

  .navbar-logo img {
    width: 40px;
    height: 40px;
  }


  #themeIcon {
    width: 24px;
    height: 24px;
  }

  .login-icon img {
  width: 24px;
  height: 24px;
}

}




@media screen and (min-width: 1024px) {
  .navbar a 
  {
    font-size: 1.3em;
  }
  .navbar-logo img {
    width: 50px;
    height: 50px;
  }

  #themeIcon {
    width: 30px;
    height: 30px;
  }

  .login-icon img {
    width: 30px;
    height: 30px;
}

}

@media screen and (min-width: 2024px){
  .navbar a 
  {
    font-size: 1.4em;
  }
  .navbar-logo img {
    width: 55px;
    height: 55px;
  }

  #themeIcon {
    width: 35px;
    height: 35px;
  }

  .login-icon img {
    width: 35px;
    height: 35px;
  }
}
