* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {
	background: black;
	
	min-height: 100%;
	font-family: "Arial", sans-serif;
}
.wrap {
	height: 100%;
	padding-bottom: 15px;
}

.game {
    transform-style: preserve-3d;
    perspective: 500px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden; 
}

@keyframes matchAnim {
	0% {
		background: #bcffcc;
   }
	100% {
		background: rgb(183, 183, 183);
   }
}

.card {
	float: left;
	width: 16.666666%;
	height: 25%;
	padding: 2px;
	text-align: center;
	display: block;
	perspective: 500px;
	position: relative;
	cursor: pointer;
	z-index: 50;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 800px) {
	.card {
		width: 25%;
		height: 16.6666%;
        
   }
}

.card .inside {
	width: 100%;
	height: 100%;
	display: block;
	transform-style: preserve-3d;
	transition: 0.4s ease-in-out;
	background: white;
}
.card .inside.picked, .card .inside.matched {
	transform: rotateY(180deg);
}


.card .inside.matched {
	animation: 3s matchAnim ease-in-out forwards;



}
.card .front, .card .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
}
.card .front img, .card .back img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	max-height: 100%;
}
.card .front {
	transform: rotateY(-180deg);
}
@media (max-width: 800px) {
	.card .front {
		padding: 5px;
   }
}
.card .back {
	transform: rotateX(0);
}


@media (max-width: 800px) {
	.card .back {
		padding: 10px;
   }
}


.modal-overlay {
	display: none;
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal {
	display: none;
	position: relative;
	width: 500px;
	height: 400px;
	max-height: 90%;
	max-width: 90%;
	min-height: 380px;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	top: 50%;
	transform: translateY(-50%);
	padding: 30px 10px;
}
.modal .winner {
	font-size: 70px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #000000;
}
@media (max-width: 480px) {
	.modal .winner {
		font-size: 50px;
   }
}
.modal .restart {
	font-family: "Anton", sans-serif;
	margin: 20px auto;
	padding: 20px 30px;
	display: block;
	font-size: 20px;
	border: none;
	background-color: #444444;
	border-radius: 8px;
	color: white;
	transition: all 0.5s ease;
	cursor: pointer;

}
.modal .restart:hover {
	background-color: #555555;
}

.modal .message {
	text-align: center;
}

